$bg_white:#FFFFFF;
$bg_gray: #F9F9F9;
$bg_red:#D19F9C;
$border_gray:#A1A1A1;
$active_color:#A93C3C;
$desc_color:#999999;
$font-main: 'Nunito', sans-serif;
$font_size_big: 60px;
$font-size_h2:40px;
$font-size_prices:30px;
$font_size_mid:20px;
$font_size_small: 12px;
$font_weight_big: 600;
$font_weight_mid: 400;
$font_weight_thin: 200;