@import '../styles/mixins';
@import '../styles/variables.scss';

.aboutUs_box{
    @include flex-space-between;
    margin:100px auto;
    height:auto;
    max-width:1100px;
    gap:20px;
}
.description_box{
    @include flex-space-between-column;
    height: auto;

    &__star{
        width:70px;
        height:70px;
    }

    &__heading{
        @include h2
    }

    &__desc{
        max-width: 480px;
    }

}

@media(max-width:850px){
    .aboutUs_box{
        @include flex-space-between-column;
        margin:40px auto 0;
        
    }
    .description_box{
        justify-content:space-around;
        position:relative;
    }
    .description_box__star{

        display:none;
    }
    

}