@import '../styles/mixins';
@import '../styles/variables.scss';


.footer{
    @include flex-space-around;
    width:100%;
    margin:100px auto 0;
    padding: 40px 20px;
    min-height: 220px;
    background-color:$bg_gray;
    flex-wrap:wrap

    &__heading{
        @include h2;
    }
    &__linkbox{
        @include flex-space-between-column;

        &__item{
            white-space: nowrap;
            text-decoration: none;
            color: inherit;
            font-size:$font_size_mid;
            font-weight:300;
            }

        &__item:hover{
           color:$active_color;
           text-decoration:underline;
        }
    }
    &__getContactBox{
        @include flex-space-between-column;
        gap:10px;

        &__socials{
             @include flex-space-between;
        }
    }
}

@media (max-width:750px){
    .footer__heading{
        font-size:25px;
    }
    .footer__linkbox__item{
        font-size:$font_size_small;
    }
    .footer__getContactBox__socials__item{
        height:20px;
    }
    .footer__getContactBox__number{
        font-size: 12px;
    }
}
@media (max-width:450px){
    .footer{
        flex-wrap: wrap;
    }
    .footer__heading{
        flex: 0 0 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}
