@import '../styles/mixins';
@import '../styles/variables.scss';

.guarantee{
    @include flex-space-between;
    gap:20px;
    height:90px;
    max-width:1100px;
    margin:60px auto;
    border-top: 1px solid $border_gray;
    border-bottom: 1px solid $border_gray;

    &__heading{
        position:relative;
        font-size:$font-size_h2;
        font-weight:$font_weight_mid;
    }

    &__star{
        height:33px;
        width:33px;
    }
    &__desc{
        max-width: 450px;
        height:fit-content;
        color:$desc_color;
        margin-right:120px;
    }
}
@media(max-width:950px){

    .guarantee__desc{
        margin-right:60px;
    }

}
@media(max-width:850px){
    .guarantee{
        margin:40px auto;
        font-size:30px;
    }
    .guarantee__heading{
        font-size:24px;
    }
    .guarantee__desc{
        margin-right:0;
        font-size:12px;
    }
}
@media(max-width:650px){
    .guarantee__heading{
        @include heading_small;
        margin:auto;
    }
     
}
@media(max-width:450px){
    .guarantee{
        height:70px;
    }
    .guarantee__heading{
        font-size:20px;
    }
    .guarantee__desc{
        margin-right:0;
        font-size:8px;
    }
}