@import '../styles/mixins';
@import '../styles/variables.scss';

.guarantee{
    @include flex-space-between;
    height:90px;
    max-width:1100px;
    margin:60px auto;
    border-top: 1px solid $border_gray;
    border-bottom: 1px solid $border_gray;

    &__heading{
        position:relative;
        font-size:$font-size_h2;
        font-weight:$font_weight_mid;
    }

    &__star{
        height:33px;
        width:33px;
    }
    &__desc{
        max-width: 450px;
        height:fit-content;
        color:$desc_color;
        margin-right:120px;
    }

}

@media(max-width:850px){
    .guarantee{
        margin:40px auto;
        font-size:30px;
    }
}