@import '../styles/mixins';
@import '../styles/variables.scss';


.bg_container{
    height:auto;
    max-width:1100px;
    display:flex;
    flex-direction:column;
    margin: 100px auto 0;
}
.pictures_container{
    display: flex;
    justify-content:space-between;
    gap:10px;
    width:100%;
    
    
}
.pictures_container div{     
    height: auto;         
    max-height: 36vh;
    max-width:100%;
    background-color:#F9F9F9;
    border-radius: 200px 200px 0 0 ;

}
.features{
    @include flex-space-between;
    background-color:#F9F9F9;
    gap:20px;
}
.feature_item{
    display: flex;
    flex-direction:column;
    width:180px;
    height:120px;
    margin-top:40px;

    &__img{
        width:100px;
        
    }
    &__heading{
        font-size:$font_size_mid;
        margin-top:10px;
        font-weight:$font_weight_big;
    }

    &__description{
        font-size:$font_size_small;
    }

}
.feature_item:first-child{
    margin-left:40px;
}
.feature_item:last-child{
    margin-right:40px;
}

@media (max-width:850px){
    .bg_container{
        margin-top:60px;
    }
    .feature_item{
        width:130px;
            
    }
    .feature_item__img{
        width:80px;
    }
    .feature_item__heading{
        font-size:16px;
    }
    .feature_item__description{
        font-size:10px;
    }
}
@media (max-width:600px){
    .bg_container{
        margin-top:40px;
    }
    .features {
        flex-wrap: wrap;
        justify-content:space-around;
        padding:10px;
    }
    .feature_item{
        height:120px;
        width: calc(50% - 30px);
        margin-top: 10px;
    }
    .feature_item__img{
        width:70px;
        height:fit-content;
    }
    .feature_item__heading{
        font-size:16px;
    }
    .feature_item__description{
        font-size:12px;
    }
    .feature_item:first-child{
    margin-left:0;
    }
    .feature_item:last-child{
        margin-right:0;
    }
}
@media (max-width:460px){
    .feature_item__heading{
        font-size:14px;
    }
    .feature_item__description{
        font-size:10px;
    }
    .feature_item{
        margin-top: 5px;
    }
}