@import '../styles/mixins';
@import '../styles/variables.scss';


.heading{
    @include heading;
    margin-left:auto;
}
.workflow_box{
    @include flex-space-between;
    margin:0 auto;
    max-width:1100px;
    gap:10px;


    &__item{
        @include flex-space-between-column;
        max-width:200px;
        position:relative;
        justify-content: flex-start;
        min-height: stretch;

        &__heading{
            font-size:$font_size_mid;
            font-weight:$font_weight_big;
            padding-left: 32px;
            margin-top:10px;
            position: relative;
        

        &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-repeat: no-repeat;
                background-size: contain;
                width: 26px; 
                height: 26px;
            }
        }

        // А теперь вешаем разные иконки на каждый айтем:
        &:nth-child(1) .workflow_box__item__heading::before {
            background-image: url('../assets/one.svg');
        }

        &:nth-child(2) .workflow_box__item__heading::before {
            background-image: url('../assets/two.svg');
        }

        &:nth-child(3) .workflow_box__item__heading::before {
            background-image: url('../assets/three.svg');
        }

        &:nth-child(4) .workflow_box__item__heading::before {
            background-image: url('../assets/four.svg');
        }

        &__desc{
            font-size:$font_size_small;
            font-weight:$font_weight_mid;
            margin-top:4px;
        }

    }
}


@media(max-width:850px){
    .heading{
        margin:60px auto 20px auto;
        font-size:30px;
    }
}
@media(max-width:700px){
    .heading{
        margin:60px auto 20px auto;
    }
   .workflow_box__item{
    max-width:stretch;
   }
   .workflow_box__item:after{
    left:66%;
   }
   .workflow_box__item__desc{
    font-size:10px;
   }
}
@media(max-width:650px){
    .heading{
         @include heading_small;
        }
    .workflow_box__item__heading{
        font-size:14px;
    }
    }
@media(max-width:620px){
   .workflow_box__item:after{
    width:40px;
    top:11%;
    left:56%;
   }
   .workflow_box__item:nth-child(3)::after{
    width:40px;
    top:11%;
    left:70%;
   }
   .workflow_box__item{
    max-width:100px;
   }
   .workflow_box__item__desc{
    font-size:10px;
   }
   .workflow_box__item__heading{
    font-size:18px;
   }
}

@media(max-width:500px) {
    .workflow_box {
        flex-wrap: wrap;        
        justify-content: center;
        gap: 30px 20px;         

        &__item {
            flex: 0 1 calc(50% - 20px); 
            max-width: none;      
        }
    }
}

